<h1>Books</h1>

<%= form_for Book.new do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>

  <%= f.label :author %>:
  <%= f.text_field :author %>

  <%= f.submit %>
<% end %>

<hr>

<div class="container">>
  <div id="todo-box" class="drag-container col-xs-3">
    <p class="lead text-center row">To-Do</p>
    <% @books_todo.each do |book| %>
      <div class="item vertical-align" db_id="<%= book.id %>" id="<%= book.title.parameterize %>">
      <span><em><%= book.title %></em>, <%= book.author %></span>
      </div>
    <% end %>
  </div>
  <div class="col-xs-1"></div>
  <div id="up-next-box" class="drag-container col-xs-3">
    <p class="lead text-center">Up Next</p>
    <% @books_up_next.each do |book| %>
      <div class="item vertical-align" db_id="<%= book.id %>" id="<%= book.title.parameterize %>">
        <span><em><%= book.title %></em>, <%= book.author %></span>
      </div>
    <% end %>
  </div>
  <div class="col-xs-1"></div>
  <div id="done-box" class="drag-container col-xs-3">
    <p class="lead text-center">Done</p>
    <% @books_done.each do |book| %>
      <div class="item vertical-align" db_id="<%= book.id %>" id="<%= book.title.parameterize %>">
        <span><em><%= book.title %></em>, <%= book.author %></span>
      </div>
    <% end %>
  </div>
</div>


