<h1>Books</h1>

<%= form_for Book.new do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>

  <%= f.label :author %>:
  <%= f.text_field :author %>

  <%= f.label :month_finished %>:
  <%= f.text_field :month_finished %>

  <%= f.submit %>
<% end %>

<hr>

<div class="container">
  <div id="todo-box" class="drag-container col-xs-3">
    <% @books.each do |book| %>
      <div class="item" id="<%= book.title.parameterize %>">
        <em><%= book.title %></em>, <%= book.author %>, read in <%= book.month_finished %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-1"></div>
  <div id="up-next-box" class="drag-container col-xs-3">
    <div class="item">Middle</div>
    <div class="item">Boxes</div>
    <div class="item">Yo</div>
  </div>
  <div class="col-xs-1"></div>
  <div id="done-box" class="drag-container col-xs-3">
    <div class="item">Right Test</div>
    <div class="item">Banana</div>
  </div>
</div>

<% @books.each do |book| %>
  <%= render partial: "shared/confirmation_modal", locals: 
    { item_name: book.title, item_status: book.status } %>
<% end %>


